:root {
  --black: #2b2d42ff;
--ash: #8d99aeff;
--grey: #edf2f4ff;
--red: #ef233cff;
--maroon: #d90429ff;
}

.App {
  background-color: var(--grey);
  overflow-x: hidden;
}

header > h1 {
  font-family: 'Luckiest Guy', cursive;
  color: var(--maroon);
  font-size: 3em;
}

.btn {
  background-color: var(--red);
  color: var(--grey);
  margin-top: -20%;
}

.body {
  font-family: 'Bree Serif', serif;
}

.nav a{
  text-decoration: none;
  color: var(--red);
  font-size: 1.4em;
}

.image {
  min-height: 50%;
  width: auto !important;
}

.footer {
  background-color: var(--maroon);
}

.footer-title {
  font-family: 'Luckiest Guy', cursive;
  color: var(--grey);
  font-size: 3em;
}

.branch {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  color: var(--grey);
  font-family: 'Bree Serif', serif;
  font-size: 1.4em;
}

.follow {
  padding-top: 3%;
  color: var(--grey);
  font-family: 'Bree Serif', serif;
  font-size: 1.4em;
}

.social {
  padding-top: 2%;
  padding: 2%;
  font-size: 2em;
}